{{ if .Site.Data.homepage.showcase.enable }}
{{ $data := index .Site.Data .Site.Language.Lang	 }}
{{ range $data }}
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
    <div class="rad-showcase__bg">
        <img class="lozad img-responsive"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            data-src="{{ .showcase.image.x | absURL }}"
            data-srcset="{{ .showcase.image.x | absURL }} 1x, {{ .showcase.image._2x | absURL }} 2x"
            alt="Showcase keyboard and mouse image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
                <h1 class="display-1">
                    {{ .showcase.title }}
                    <br />
                    <span>{{ .showcase.subtitle }}</span>
                </h1>
                <p class="lead">
                    {{ .showcase.description | safeHTML }}
                </p>
            </div>
        </div>
        <div class="row platform-links">
            <div class="col-12">
                {{ range .showcase.socialLinks }}
                <a href="{{ .URL | absURL }}" target="_blank"><i class="icon-{{ .icon }}-line"></i></a>
                {{ end }}
                <a href="/Carola_Marini_Resume.pdf" class="btn" target="_blank" download>
                    <i class="{{ .experience.button2.icon }}">
                    </i>
                    {{ .experience.button2.btnText }}
                </a>
            </div>
        </div>
    </div>
    <div class="rad-showcase__bg rad-showcase__bg--mobile">
        <img class="lozad img-responsive"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            data-src="{{ .showcase.imageMobile.x | absURL }}" alt="Showcase keyboard and mouse image" />
    </div>
</section>
{{ end }}
{{ end }}